/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.social-icons a {
    font-size: 1.5rem;
    color: #343a40;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: #FEAE6F; /* Change this color to your preferred hover color */
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: black;
    animation: blink-animation 1s steps(2) infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Buttons */
.btn-custom,
.btn-secondary-modern {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover,
.btn-secondary-modern:hover {
    transform: scale(1.05);
}

.btn-custom:focus,
.btn-custom:active,
.btn-secondary-modern:focus,
.btn-secondary-modern:active {
    box-shadow: 0 0 0 4px rgba(108, 117, 125, 0.4);
}

.btn-custom {
    background-color: #FEAE6F;
}

.btn-custom:hover {
    background-color: #f4a261;
}

.btn-secondary-modern {
    background-color: #6c757d;
}

.btn-secondary-modern:hover {
    background-color: #5a6268;
}

/* Close button styles */
.btn-close-modern {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-close-modern:hover,
.btn-close-modern:focus,
.btn-close-modern:active {
    color: #dc3545;
}

/* Modal Styles */
.modal-content {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header,
.modal-footer {
    border: none;
    padding: 20px 30px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 20px 30px;
}

/* Section Styles */
#about,
#education {
    background-color: #ffffff; /* White background */
}

#projects,
#skills {
    background-color: #343a40; /* Dark background */
}

#skills {
    padding-top: 80px; /* Adjust top padding for better spacing */
    padding-bottom: 80px; /* Adjust bottom padding for better spacing */
}

/* Card Styles */
#skills .card,
#education .card,
.project-card {
    border: none; /* Remove default card border */
    background-color: transparent; /* Transparent background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: transform 0.3s ease;
}

#skills .card:hover,
#education .card:hover,
.project-card:hover {
    transform: translateY(-5px); /* Lift card on hover */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skill-icon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Spacing between icons */
}

.card-text {
    font-size: 1rem;
    color: #868e96; /* Subdued text color */
}

.project-card {
    border-radius: 15px;
    background-color: #ffffff2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card .card-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #fff;
}

.project-card .card-text {
    font-size: 1rem;
    color: #ccc;
}

.project-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
