/* Custom styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.social-icons a {
    font-size: 1.5rem;
    color: #343a40;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: #FEAE6F; /* Change this color to your preferred hover color */
}


.cursor {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: black;
    animation: blink-animation 1s steps(2) infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Adjust section styles for better differentiation */
#about {
    background-color: #ffffff; /* White background */
}

#projects {
    background-color: #343a40; /* Dark background */
}

#education {
    background-color: #ffffff; /* White background */
}

#skills {
    background-color: #343a40; /* Dark background */
    padding-top: 80px; /* Adjust top padding for better spacing */
    padding-bottom: 80px; /* Adjust bottom padding for better spacing */
}

#skills .card {
    border: none; /* Remove default card border */
    background-color: transparent; /* Transparent background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: transform 0.3s ease;
}

#skills .card:hover {
    transform: translateY(-5px); /* Lift card on hover */
}

#skills .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skill-icon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Spacing between icons */
}

#skills .card-text {
    font-size: 1rem;
    color: #868e96; /* Subdued text color */
}

#education .card {
    border: none; /* Remove default card border */
    background-color: transparent; /* Transparent background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition
}

@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    #skills {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #skills .card {
        margin-bottom: 1.5rem;
    }
}
